$no-slot-color: #c10f18;
$few-slot-color: #d87811;
$all-slot-color: #b2d198;
$border-color: #000000;
$background-color: #fff;
$text-shadow-color: rgb(40, 43, 201) 0px -1px;
$box-shadow-color: rgba(0, 0, 0, 0.25);
$background-color-from: #5ba6e2f8;
$background-color-to: #4fbce7;
$back-color: rgb(54, 158, 218);
$td-color: #8c8c8c;
$background-header: #e5eff7;
$background-add-slot: #dfe5e9;
$background-hook: #ececec;
$update-candy-color: blue;
$td-border-color:#e6e6e6;
$collapse-detail-color :#f4f8fb;
$form-btn-color :#007bff;
$form-btn-hover-color :#0260c5;
$grey : #808080;
$link-color : #00f;
$modal-btn-color : #ced1d4;
$modal-color :#edeff0;
$modal-header-color: #dce4eb;
$page-nav-color : #0067B8;
$very-dark-grey : #212121;
$resolution-blue:#1b3280;
$pale-white-bottom: #eaeff9;
$dark-blue: rgb(30, 74, 133);
$grey-color: #a6aab2;
$primary-container-color: rgba(203, 221, 236, 0.50980392156863);
$heading-color: #016ccc;
$error-color: #c50000;
$secondary-container-color: #fff;
$text-field-border: #00aef1;
$instruction: #dce1e5;
$link: #2231ff;
$text-color: #0074dc;
$button-background-hover: #0064fb;
$button-background-focus: #0123a0;


