$zero: 0;
$border: 1px;
$box: 2px;
$base-size: 15px;
$base :5px;
$base-per: 10%;
$hook: 15%;
$base-font-size: 14px;
$size: 50px;
$padding: 20px;
$border-radius: 10px;
$font-size : 12px;
$opacity : 0.5;
$container-margin-top: 40px;
$border-size : 2px;
$opacity-dec: 0.4;
$media-query-width: 768px;
$border-radius : 50%;
$modal-ok-btn-width : 115px;
$opacity : 0.5;



















